.destination {
    background-image: url(/assets/Images/hawaii.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    width: 100%;
    min-height: 638px;
}

.destination-header {
    color: white;
    font-size: 3.75rem;
}

.destination-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1.5rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 3rem;
}

.destination-cards__card {
    width: 15.8125rem;
    height: 23.75rem; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    background-color: white;
}

.destination-cards__card-weekday {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 20px;
    border-bottom: solid black 2px;
    margin-bottom: 2.5rem;
}

.destination-cards__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.destination-cards__card-activities li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.destination-cards__card-activity {
    background-color: #FEFAF5;
    padding-bottom: 1rem;
}